{{template "header" .}}
<div class="box">
  <div class="box todos">
    <h2 class="box">Todo List</h2>
    <ul>{{$siteroot := .Siteroot}}
      {{range $todo := .D.Body}}
        <li {{if $todo.Finished}} class="finshed"{{end}}>{{if $todo.Finished }}
            <del>{{ $todo.Title }}</del>&nbsp;
            <a href="{{$siteroot}}finish.html?id={{ $todo.Id }}&status=no">Restore</a>,
        {{else}}{{ .Title }}&nbsp;
          <a href="{{$siteroot}}finish.html?id={{ $todo.Id }}&status=yes">Finshed</a>,{{end}}
          <a href="{{$siteroot}}edit.html?id={{ $todo.Id }}">Edit</a>,
          <a href="{{$siteroot}}delete.html?id={{ $todo.Id }}" onclick="return confirm('Record has been deleted, OK？')">Delete</a>
        </li>{{end}}
    </ul>
  </div>

  <div class="box post">
    <h2>Add</h2>
    <form action="{{.Siteroot}}new" method="post" id="post_new">
      <p><input type="text" name="title" class="long_txt" /></p>
      <p><input type="submit" class="submit" value="Submit" /></p>
    </form>
  </div>

</div>
{{template "footer" .}}
