{{template "main_header" .}}
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="hero-unit">
                        <h1>Hello, world!</h1>
                        <p>tranlate language: {{index .L "Hello"}} - {{index .L "你好"}}</p>
                        <p>Welcome to <a href="https://github.com/golangers" target="_blank">Golanger Web Framework</a></p>
                        <p>{{if op "+" 1 2 3 | op ">=" 6}}>=6(ture){{else}}>=6(false){{end}}</p>
                        <p><a href="mailto:golanger@googlegroups.com" target="_blank" class="btn btn-primary btn-large">Please contact @golanger</a></p>
                    </div>
                </div>
            </div>
        </div>
{{template "main_footer" .}}
