{{define "header"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{with .D.Title}}{{.}} - {{end}}{{.Config.Sitename}}</title>
        
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{{.D.Static}}add-on/prettyPhoto/css/prettyPhoto.css" rel="stylesheet">{{if .D.GlobalCssFile}}
        <link href="{{.D.GlobalCssFile}}" rel="stylesheet">{{end}}{{if .D.GlobalIndexCssFile}}
        <link href="{{.D.GlobalIndexCssFile}}" rel="stylesheet">{{end}}{{if .D.IndexCssFile}}
        <link href="{{.D.IndexCssFile}}" rel="stylesheet">{{end}}
        <script type="text/javascript" src="{{.D.Static}}add-on/jquery/jquery-1.8.0.min.js"></script>
    </head>
    <body>{{end}}
