{{template "main_header" .}}
<div class="hero-unit">
    <div class="row-fluid">
        <div align="left">
            <input class="btn btn-success" type="button" id="create_module" value="新建类别">
        </div><br/>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th style="display:none">ID</th>
                    <th>类别名</th>
                    <th style="display:none">父类别ID</th>
                    <th>父类别</th>
                    <th>排序</th>
                    <th>创建时间</th>
                    <th>最后更新</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{$getCategory := .D.Body.getCategory}}
                {{range .D.Body.category}}
                <tr> 
                    <td style="display:none">{{.Id.Hex}}</td>
                    <td>{{.Name}}</td>
                    <td style="display:none">{{.Parent.Hex}}</td>
                    <td>{{call $getCategory .Parent.Hex}}</td>
                    <td>{{.Order}}</td>
                    <td>{{GetTimeToStr .CreateTime}}</td>
                    <td>{{GetTimeToStr .UpdateTime}}</td>
                    <td>
                        <input class="btn btn-danger" type="button" op="op_delete" value="删除">
                        <input class="btn btn-info" type="button" op="op_update" value="修改">
                        <input class="btn btn-warning" type="button" op="op_stop" value="{{if .Delete}}停用{{else}}启用{{end}}">
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>

<div class="modal" style="display: none" id="deleteModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>是否确认删除？</h3>
    </div>
    <div class="modal-footer">
        <input class="btn btn-danger" type="button" id="delete_sure" value="确认删除">
        <a href="#" class="btn btn-primary" data-dismiss="modal">取消</a>
    </div>
</div>

<div class="modal" style="display: none" id="stopModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>是否确认停用？</h3>
    </div>
    <div class="modal-footer">
        <input class="btn btn-danger" type="button" id="stop_sure" value="确认停用">
        <a href="#" class="btn btn-primary" data-dismiss="modal">取消</a>
    </div>
</div>


<div class="modal" style="display: none" id="createModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>新建类别</h3>
    </div>
    
    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span12">
                <form class="form-horizontal" id="create">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="create_category">类别名</label>
                            <div class="controls">
                                <input class="input-large" id="create_category" name="category_name" type="text" placeholder="类别名">
                                <span class="help-inline" style="display:none"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="create_parent_category">父类别</label>
                            <div class="controls">
                                <select id="create_parent_category" name="parent_category_name" data-placeholder="父类别" class="input-large">
                                    <option value=""></option>
                                    {{range .D.Body.pCategory}}
                                    <option value="{{.Id.Hex}}">{{.Name}}</option>
                                    {{end}}
                                </select>
                                <span class="help-inline" style="display:none"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="category_order">类别排序</label>
                            <div class="controls">
                                <input class="input-large" id="category_order" name="category_order" type="number" min="0" placeholder="类别排序">
                                <span class="help-inline" style="display:">数值越大，类别越排前</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="button" id="btn_create" class="btn btn-large btn-primary">创建</button>
                            <button type="reset" id="btn_cancel_create" class="btn btn-large btn-inverse">取消</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" style="display: none" id="updateModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>更新类别</h3>
    </div>
    
    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span12">
                <form class="form-horizontal" id="update">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="update_category">类别名</label>
                            <div class="controls">
                                <input class="input-large" id="update_category" name="category_name" type="text" placeholder="类别名">
                                <span class="help-inline" style="display:none"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="update_parent_category">父类别</label>
                            <div class="controls">
                                <select id="update_parent_category" name="parent_category_name" data-placeholder="父类别" class="input-large">
                                    <option value=""></option>
                                    {{range .D.Body.pCategory}}
                                    <option value="{{.Id.Hex}}">{{.Name}}</option>
                                    {{end}}
                                </select>
                                <span class="help-inline" style="display:none"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="update_category_order">类别排序</label>
                            <div class="controls">
                                <input class="input-large" id="update_category_order" name="category_order" type="number" min="0" placeholder="类别排序">
                                <span class="help-inline" style="display:">数值越大，类别越排前</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="button" id="btn_update" class="btn btn-large btn-primary">更新</button>
                            <button type="reset" id="btn_cancel_update" class="btn btn-large btn-inverse">取消</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{{template "main_footer" .}}
