{{define "main_header"}}{{template "header" .}}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i> {{.S.username}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">User</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout.html">Logout</a></li>
                    </ul>
                </div>
                <a class="brand" href="{{.Siteroot}}index.html">{{.Config.Sitename}}</a>
                <div class="nav-collapse">
                    <ul class="nav">{{$siteroot := .Siteroot}}
                        <li><a href="{{$siteroot}}">Home</a></li>
                        {{range .S.modules}}
                        <li><a href="{{$siteroot}}{{.Path}}">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                </div><!-- /.nav-collapse -->
            </div>
        </div>
    </div>
    <div id="message" class="alert" style="display:none">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <span></span>
    </div>{{end}}
