{{define "footer"}}
        </div>
        <div class="foot">
            Copyright&copy; simple-todo by
            <p><a href="https://github.com/golangers">Golanger Web Framework</a></p>
        </div>
    </div>{{if .D.GlobalJsFile}}
    <script type="text/javascript" src="{{.D.GlobalJsFile}}"></script>{{end}}{{if .D.GlobalIndexJsFile}}
    <script type="text/javascript" src="{{.D.GlobalIndexJsFile}}"></script>{{end}}{{if .D.IndexJsFile}}
    <script type="text/javascript" src="{{.D.IndexJsFile}}"></script>{{end}}
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F786037d553e3621233698a27bb565292' type='text/javascript'%3E%3C/script%3E"));
    </script>
    </body>
</html>{{end}}
