{{template "main_header" .}}
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="hero-unit">
                        <h1>Golanger Web Framework!</h1>
                        <p><a href="http://github.com/golangers">Golanger</a> is a lightweight framework for writing web applications in Go.</p>
                        <p><a href="mailto:golanger@googlegroups.com" target="_blank" class="btn btn-primary btn-large">Please contact @Golanger</a></p>
                    </div>
                </div>
            </div>
        </div>
{{template "main_footer" .}}
